#uw {
	height: calc(100% - 0.1rem);
	margin-bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: transparent;
}

#uw h3 {
	font-size: 1.4vmax;
}

#uw .container-fluid {
	margin: auto;
	flex-grow: 1;
}

.table {
	margin: auto;
	display: table;
	width: 80vw;
	flex-grow: 5;
	max-height: calc(100% - 10rem);
	font-size: 0.8vmax;
}

.table > thead {
	border-bottom: gray solid 0.4rem;
}

.table > tbody > tr {
	border-bottom: gray solid 0.2rem;
}
