#sidebar {
	position: absolute;
	left: 0;
	top: 6rem;
	height: calc(100% - 10rem);
	display: flex;
	z-index: 100;
}

#sidebar i {
	color: black;
	font-size: x-large;
}

#sidebar-content {
	padding: 1rem;
	display: none;
	width: 20vw;
	height: 100%;
}

#sidebar-content > img {
	width: 100%;
	margin-bottom: 1rem;
}

#sidebar-content > h3 {
	text-align: center;
}

#sidebar-content > div {
	margin-bottom: 1rem;
}

#sidebar-selector {
	width: 2rem;
	background: #217dbb;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
