#mainWrapper {
	margin-left: 2rem;
	height: calc(100% - 10rem);
	animation-duration: 0.5s;
}

#forBody {
	position: absolute;
	left: 2rem;
	top: 6rem;
	bottom: 4rem;
	right: 0;
	padding: 0;
	margin: 0;
	z-index: -1;
}
