.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 4rem;
	padding: 1rem;
	background-color: black;
	display: flex;
	justify-content: space-around;
}

.footer i {
	position: relative;
	margin-right: 0.8rem;
	font-size: large;
}

#phone {
	color: white;
}
