#work {
	height: calc(100% - 10rem);
	margin-bottom: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

#work img {
	height: 15rem;
	border: white solid 0.2rem;
	width: 65%;
}

.work-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}