<div class="container-fluid bg-3 text-center" id="work">    <!-- change this page to use ng-repeat, put data in .ts instead -->  <!-- change this to an up arrow when expanded somehow -->
	<h3>Past Employment</h3>
	<div class="row topRow">
	  <div class="col-sm-4" *ngFor='let item of workItems'>
	  	<a class="work-item" [attr.href]="'#' + item.id" data-toggle="collapse">
		  <img class="img-responsive" [src]="item.imageUrl || 'assets/images/placeholder.jpg'" />
	      <div>
	      	{{ item.title }}
	      	<i class="fa fa-caret-down"></i>
	      </div>
	  	</a>
	    <div class="collapse" [attr.id]="item.id">
	    	<ul class="list-group">
	    		<li class="list-group-item">
	    			<b>Timeline:</b> {{ item.timeline }}
	    		</li>
	    		<li class="list-group-item">
	    			<b>Description:</b> {{ item.description }}
	    		</li>
	    		<li class="list-group-item">
	    			<b>Technologies:</b> {{ item.technologies }}
	    		</li>
	    	</ul>
	    </div>
	  </div>
	</div>
	<h3 class="lowTopHeader">Personal Work</h3>
	<div class="row">
	  <div class="col-sm-3" *ngFor='let item of projectItems1'>
	  	<a class="work-item" [attr.href]="'#' + item.id" data-toggle="collapse">
		  <img class="img-responsive" [src]="item.imageUrl || 'assets/images/placeholder.jpg'" />
	      <div>
	      	{{ item.title }}
	      	<i class="fa fa-caret-down"></i>
	      </div>
	  	</a>
	    <div class="collapse" [attr.id]="item.id">
	    	<ul class="list-group">
	    		<li class="list-group-item">
	    			<b>Timeline:</b> {{ item.timeline }}
	    		</li>
	    		<li class="list-group-item">
	    			<b>Description:</b> {{ item.description }}
	    		</li>
	    		<li class="list-group-item">
	    			<b>Technologies:</b> {{ item.technologies }}
	    		</li>
	    	</ul>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-sm-3" *ngFor='let item of projectItems2'>
	  	<a class="work-item" [attr.href]="'#' + item.id" data-toggle="collapse">
		  <img class="img-responsive" [src]="item.imageUrl || 'assets/images/placeholder.jpg'" />
	      <div>
	      	{{ item.title }}
	      	<i class="fa fa-caret-down"></i>
	      </div>
	  	</a>
	    <div class="collapse" [attr.id]="item.id">
	    	<ul class="list-group">
	    		<li class="list-group-item">
	    			<b>Timeline:</b> {{ item.timeline }}
	    		</li>
	    		<li class="list-group-item">
	    			<b>Description:</b> {{ item.description }}
	    		</li>
	    		<li class="list-group-item">
	    			<b>Technologies:</b> {{ item.technologies }}
	    		</li>
	    	</ul>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-sm-3" *ngFor='let item of projectItems3'>
	  	<a class="work-item" [attr.href]="'#' + item.id" data-toggle="collapse">
		  <img class="img-responsive" [src]="item.imageUrl || 'assets/images/placeholder.jpg'" />
	      <div>
	      	{{ item.title }}
	      	<i class="fa fa-caret-down"></i>
	      </div>
	  	</a>
	    <div class="collapse" [attr.id]="item.id">
	    	<ul class="list-group">
	    		<li class="list-group-item">
	    			<b>Timeline:</b> {{ item.timeline }}
	    		</li>
	    		<li class="list-group-item">
	    			<b>Description:</b> {{ item.description }}
	    		</li>
	    		<li class="list-group-item">
	    			<b>Technologies:</b> {{ item.technologies }}
	    		</li>
	    	</ul>
	    </div>
	  </div>
	</div>
</div>
