#work {
	height: calc(100% - 10rem);
	margin-bottom: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

#work img {
	height: 15rem;
	border: #0ce3ac solid 0.2rem;
	box-shadow: 0 0 1rem #888888;
	width: 100%;
	object-fit: cover;
}

.work-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 65%;
	height: 100%;
}

.collapse b, .collapse-in b, .collapsing b {
	font-size: 1.6rem;
}

.lowTopHeader {
	margin-top: 1.5rem;
}

#work h3 {
	margin-bottom: 2.5rem;
}

#work .row {
	margin-bottom: 1rem;
}

#work .topRow img {
	height: 20rem;
}

#work .list-group {
	margin-top: 1rem;
	text-align: left;
	font-size: 1.3rem;
}

#work .collapse, #work .collapse-in, #work .collapsing {
	width: 75%;
}

#work .col-sm-4, .col-sm-3 {
	display: flex;
	flex-direction: column;
	align-items: center;
}