#sidebar {
	position: absolute;
	left: 0;
	top: 6rem;
	height: calc(100% - 10rem);
	display: flex;
	z-index: 100;
}

#sidebar i {
	color: black;
}

#sidebar-content {
	display: none;
	width: 20vw;
	background: green;
}

#sidebar-selector {
	width: 1.5rem;
	background: orange;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}