.footer {
	border: none;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 4rem;
	padding: 1rem;
	background-color: black;
	display: flex;
	justify-content: space-around;
	z-index: 50;
}

.footer > div, .footer > a {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer i {
	position: relative;
	margin-right: 0.8rem;
	font-size: 3.2rem;
}

#phone {
	color: white;
}
