#work {
	height: calc(100% - 0.1rem);
	margin-bottom: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: transparent;
}

#work img {
	height: 30vh;
	border: var(--main-colour) solid 0.3rem;
	width: 100%;
	object-fit: cover;
	border-radius: 0;
	background-color: var(--main-colour);
}

#work img:hover, #work img:focus {
	object-fit: contain !important;
	background-color: white;
	border: var(--secondary-colour) solid 0.3rem;
}

#work h3 {
	text-decoration: underline;
}

#indesign-carousel {
	margin-top: 1rem;
}

#indesign-carousel img {
	border: none;
	height: 50vh;
}

.work-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
}

.collapse b, .collapse-in b, .collapsing b {
	font-size: 1.6rem;
}

.lowTopHeader {
	margin-top: 1.5rem;
}

#work h3 {
	margin-bottom: 2.5rem;
}

#work .row {
	margin-bottom: 1rem;
}

#work .list-group {
	margin-top: 1rem;
	text-align: left;
	font-size: 1.3rem;
}

#work .collapse, #work .collapse-in, #work .collapsing {
	width: 100%;
}

#work .col-sm-4, .col-sm-3 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#work {
	padding-top: 0 !important;
}

.externalWorkUrl {
	padding-left: 1rem;
}
