<div class="jumbotron" id="work">
	<div class="container-fluid bg-3 text-center">
		<h3>Past Employment</h3>
		<div class="row topRow">
		  <div class="col-sm-3" *ngFor='let item of workItems'>
		  	<a class="work-item company" [attr.href]="'#' + item.id" data-toggle="collapse" (click)="toggleExpanded(item)">
			  <img class="img-responsive img-rounded" [src]="item.imageUrl || 'assets/images/placeholder.jpg'" />
		      <div class="work-item-title">
		      	{{ item.title }}
		      	<i *ngIf="item.isOpen" class="fa fa-caret-down"></i>
		      	<i *ngIf="!item.isOpen" class="fa fa-caret-up"></i>
		      </div>
		  	</a>
		    <div class="collapse" [attr.id]="item.id">
		    	<ul class="list-group">
		    		<li class="list-group-item">
		    			<b>Timeline:</b> {{ item.timeline }}
		    		</li>
		    		<li *ngIf="item.jobTitle" class="list-group-item">
		    			<b>Position:</b> {{ item.jobTitle }}
		    		</li>
		    		<li class="list-group-item">
		    			<b>Description:</b> {{ item.description }}
		    		</li>
		    		<li class="list-group-item">
		    			<b>Technologies:</b> {{ item.technologies }}
		    		</li>
		    		<li class="list-group-item" *ngIf="item.sourceUrl">
		    			<b>Source:</b>
		    			<a [attr.href]="item.sourceUrl" target="_blank" class="externalWorkUrl">
		    				<i class="fa fa-external-link" aria-hidden="true"></i>
		    			</a>
		    		</li>
		    		<li class="list-group-item" *ngIf="item.demoUrl">
		    			<b>Demo:</b>
		    			<a [attr.href]="item.demoUrl" target="_blank" class="externalWorkUrl">
		    				<i class="fa fa-external-link" aria-hidden="true"></i>
		    			</a>
		    		</li>
		    	</ul>
		    </div>
		  </div>
		</div>
		<h3 class="lowTopHeader">Personal Work</h3>
		<div class="row" *ngFor='let projectRow of projectItems'>
		  <div class="col-sm-3" *ngFor='let item of projectRow'>
		  	<a class="work-item" [attr.href]="'#' + item.id" data-toggle="collapse" (click)="toggleExpanded(item)">
			  <img class="img-responsive img-rounded" [src]="item.imageUrl || 'assets/images/placeholder.jpg'" />
		      <div>
		      	{{ item.title }}
		      	<i *ngIf="item.isOpen" class="fa fa-caret-down"></i>
		      	<i *ngIf="!item.isOpen" class="fa fa-caret-up"></i>
		      </div>
		  	</a>
		    <div class="collapse" [attr.id]="item.id">
		    	<ul class="list-group">
		    		<li class="list-group-item" *ngIf="item.timeline">
		    			<b>Timeline:</b> {{ item.timeline }}
		    		</li>
		    		<li class="list-group-item">
		    			<b>Description:</b> {{ item.description }}
		    		</li>
		    		<li class="list-group-item">
		    			<b>Technologies:</b> {{ item.technologies }}
		    		</li>
		    		<li class="list-group-item" *ngIf="item.sourceUrl">
		    			<b>Source:</b>
		    			<a [attr.href]="item.sourceUrl" target="_blank" class="externalWorkUrl">
		    				<i class="fa fa-external-link" aria-hidden="true"></i>
		    			</a>
		    		</li>
		    		<li class="list-group-item" *ngIf="item.demoUrl">
		    			<b>Demo:</b>
		    			<a [attr.href]="item.demoUrl" target="_blank" class="externalWorkUrl">
		    				<i class="fa fa-external-link" aria-hidden="true"></i>
		    			</a>
		    		</li>
		    	</ul>
		    </div>
		  </div>
		</div>
	</div>
</div>
