.home {
	height: 100%;
	margin-bottom: 0;
}

.home .container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
}

.home a {
	font-size: 5rem;
	border: solid 0.1rem;
}

.home .circle-picture {
	height: 40vmin;
	width: 40vmin;
	border-radius: 50%;
	background-color: var(--main-colour);
	border: 5px solid var(--main-colour);
}

.home .circle-picture img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
}