<div class="jumbotron" class="home">
	<div class="container text-center">
	  <div class="intro-section">
	  	<div class="welcome-message">
	  		Welcome to my website!
	  	</div>
	  	<div class="name-intro">
	  		My name is Yifan. It's nice to meet you.
	  	</div>
	  	<div class="university-intro">
	  		I study Software Engineering at the University of Waterloo. I'm in my 3A term.
	  	</div>
	  	<div class="circle-picture">
	  		<img src="assets/images/ILikeIt.JPG">
	  	</div>
	  </div>
	  <div *ngIf="browser === 'ms-edge' || browser === 'ie'">
	  	<a (click)="toggleWarning()"> Warning </a>
	  	<div *ngIf="displayWarning">
	  		<h4> It seems you are using IE or Edge version {{ version }}.
	  		</h4>
	  		<h5> I recommend switching to Chrome for the best experience. </h5>
	  	</div>
	  </div>
	</div>
</div>
