<div class="jumbotron" class="home">
	<div class="text-center">
	  <div class="intro-section">
		  <div class="text">
		  	<div class="welcome-message">
		  		<span class="larger-text"> Welcome </span> to my website!
		  	</div>
		  	<div class="name-intro">
		  		My name is <span class="larger-text"> Yifan </span>. It's nice to meet you.
		  	</div>
		  	<div class="university-intro">
		  		I study <span class="larger-text"> Software Engineering </span> at the <span class="larger-text"> University of Waterloo </span>.
		  	</div>
		  	<div class="term-intro">
		  		 I'm in my <span class="larger-text"> 3A </span> term.
		  	</div>
		  </div>
	  	<div class="circle-picture">
	  		<img src="assets/images/ILikeIt.JPG">
	  		<div class="circle-1"></div>
	  		<div class="circle-2"></div>
	  		<div class="circle-3"></div>
	  	</div>
	  </div>
	  <div *ngIf="browser === 'ms-edge' || browser === 'ie'">
	  	<a (click)="toggleWarning()"> Warning </a>
	  	<div *ngIf="displayWarning">
	  		<h4> It seems you are using IE or Edge version {{ version }}.
	  		</h4>
	  		<h5> I recommend switching to Chrome for the best experience. </h5>
	  	</div>
	  </div>
	</div>
</div>
