#documents .container > a {
	font-size: 4rem;
}

#documents {
	height: 100%;
	margin-bottom: 0;
}

#documents .container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#documents .container > h3 {
	flex-grow: 10;
}
`
#documents .container h2 {
	flex-grow: 3;
}

#documents .container > div {
	flex-grow: 3;
} 
